{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!-- Viewport Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>TREX Engenharia | A solução certa para seus projetos.</title>

    <meta name="description" content="A Trex Engenharia é uma empresa de engenharia que atua no segmento da construção civil, tendo como suas principais atividades a elaboração e execução de PPCI (Plano de Prevenção e Proteção Contra Incêndio. Trabalhamos com PPCIs, projetos estruturais, hidraulica e hidrossanitários otimizando os custos de execução para nossos clientes. A Trex Engenharia atua principalmente na região de Porto Alegre, atendendo também demandas de cidades próximas, como Canoas, São Leopoldo, Novo Hamburgo.">
    <meta name="keywords" content="PPCI, Alvará dos bombeiros, reformas, manutenção predial, projeto hidro-sanitario, encanamentos prediais, projetos estruturais">
    <meta name="author" content="Maurice AINON, am.amauri@outlook.com">

    <!-- mobile -->
    <meta property="og:title" content="TREX Engenharia | Soluções Inovadoras de engenharia.">
    <meta property="og:image" content="{%  static "img/icontrex.png" %}">
    <meta property="og:description" content="A Trex Engenharia é uma empresa de engenharia que atua no segmento da construção civil, tendo como suas principais atividades a elaboração e execução de PPCI (Plano de Prevenção e Proteção Contra Incêndio. Trabalhamos com PPCIs, projetos estruturais, hidraulica e hidrossanitários otimizando os custos de execução para nossos clientes. A Trex Engenharia atua principalmente na região de Porto Alegre, atendendo também demandas de cidades próximas, como Canoas, São Leopoldo, Novo Hamburgo.">
    <meta property="og:url" content="http://trexengenharia.com.br">
    <!-- <meta name="twitter:card" content="summary_large_image"> -->



    <link rel='shortcut icon' href='{% static "img/favicon.png" %}' type='image/x-icon' />
    <link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "lightgallery/css/lightgallery.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>

<body>


    <!--navbar -->

   <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">
     <img src="{% static "imagens/trex_avatar_40.jpg" %}" alt="">
      Trex Engenharia
      </a>
  <button class="trex-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sobre-nos">Sobre</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Serviços
        </a>
        <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/ppci">Execução de PPCI & Alvarás</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/obras">Execução de Obras</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/laudos">Laudos Técnicos</a>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="/estruturas">Projetos Estruturais</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/reformas"> Reformas </a>

        </div>
      </li>
        <!--
        <li class="nav-item">
        <a class="nav-link" href="https://blog.trexengenharia.com.br">Projetos</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/contato/">Contato</a>
      </li>
    </ul>

  </div>
</nav>


    <!-- End navbar -->

{% block content %}



{% endblock %}


<!-- end trabalhe -->
   <div id="trabalhe" class="d-flex align-items-center justify-content-center">
       <div class="container">
           <div class="row">
               <div class="col-sm-12 col-md-8 offset-md-2 text-center">
                   <h2>Trabalhe Conosco</h2>
                   <p>Entre em contato e junto vamos construir o seu sonho.</p>
                   <a href="/contato/" class="btn btn-dark btn-block">Entre em Contato</a>
               </div>
           </div>
       </div>
   </div>
   <!-- end trabalhe -->


   <!-- footer -->
   <div id="footer" class="d-flex align-items-center justify-content-center">
       <div class="container">
           <div class="row">
               <div class="col-sm-12 col-md-6 offset-md-3 text-center">


                    {% if socios %}

                   {% for socio in socios %}

                   <a href="https://api.whatsapp.com/send?phone=5551{{socio.numero}}&text=Ol%C3%A1+TREX+Engenharia%2C+quero+conversar+sobre+um+projeto." target="_blank"
                   data-toggle="tooltip" data-placement="top" title="(51) {{socio.numero}}">
                        <i class="fab fa-whatsapp fa-3x"></i>
                    </a>
                   {% endfor %}
                   {% endif %}

                    <a href="https://www.instagram.com/trexengenharia/" target="_blank">
                        <i class="fab fa-instagram fa-3x"></i>
                    </a>
                    <a href="https://www.facebook.com/trexengenharia/" target="_blank">
                        <i class="fab fa-facebook fa-3x"></i>
                    </a>
                    <a href="https://www.instagram.com/trexengenharia/" target="_blank">
                        <i class="fab fa-linkedin fa-3x"></i>
                    </a>
               </div>

               <div class="col-sm-12 text-center">

                 <!--  <ul style="margin-top: 1rem;">
                       <li>
                           <a href="">Início</a>
                       </li>
                       <li>
                           <a href="">Início</a>
                       </li>
                   </ul> -->

                   <p>TREX ENGENHARIA &copy; <script type="text/javascript">
                  document.write(new Date().getFullYear());
                </script> | Todos os direitos reservados.
                        <br>

                    </p>

                   <br>

                   <p>
                       Designed by <a href="htpps://wanubit.com">wanubit</a>
                   </p>


               </div>

           </div>
       </div>
   </div>
   <!-- end footer -->




    <!-- script -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "vendor/js/bootstrap.min.js" %}"></script>
    <script src="{% static "lightgallery/js/lightgallery.min.js" %}"></script>
    <script src="{% static "js/parallax.min.js" %}"></script>
    <script src="{% static "js/validator.min.js" %}"></script>
    <script src="{% static "js/message.js" %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145411498-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145411498-1');
</script>

    <script>

        $(document).ready(function() {
                $("#lightgallery").lightGallery({
                    download: false,
                });
            });


    </script>


</body>

</html>




