{% extends "trexapp/base.html" %}
{% load staticfiles %}

{% block content %}

    <!-- main -->
    <style>
        #main{
            background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('{% static 'img/contato.jpg' %}');
            //background-image: url(img/extintor-capa.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    
    </style>
    
    <div id="main" class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h1>Contato</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    
    <!-- end main -->
    
    <!-- content -->
    
    <div id="content" class="d-flex align-items-center justify-content-center">
        <div class="container">
           
           <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h1>Contatos</h1>
                </div>

                <div class="col-md-8 offset-md-2">
                    <hr style="width: 100%">
                    <p class="text-center" style="margin-top: 2rem; font-size: 1.2rem;">
                    Precisando de profissionais,
                    <br> Fale conosco.
                    </p>

                    <hr style="width: 100%">

                    <address class="contact-address" style="margin-top: 1rem;">
                        <p class="text-center">Address: Rua. Mar. Floriano Peixoto <br>CEP: 900020-061 <br>Porto Alegre - RS Brazil </p>


                        <hr style="width: 100%">
                        <p class="text-center">CNPJ : <b> 33.105.692/0001-91 </b> </p>
                        <p class="text-center">Email : <a href="mailto:contato@trexengenharia.com.br">contato@trexengenharia.com.br</a></p>
                    <!--    <p class="text-center"> <a href="tel:5551983023518" style="color: #000; font-weight: 600;"> telefone(principal) :+55 51 994-707-107</a> </p> -->
                        {% if socios %}

                        {% for socio in socios %}

                        <p class="text-center"> <a href="https://api.whatsapp.com/send?phone=55{{socio.numero}}&text=Ol%C3%A1+TREX+Engenharia%2C+quero+conversar+sobre+um+projeto." style="color: #000; font-weight: 600;"> Tel (WhatsApp): +55{{socio.numero}}</a>
                        </p>
                        {% endfor %}
                        {% endif %}


                        <hr style="width: 100%">
                    </address>

                </div>
             
            </div>
           
           
            <div class="row">
               
                <div class="col-md-8 offset-md-2 text-center">
                    <h1 style="margin: 2rem;">Localização</h1>
                </div>
                <div class="col-md-12 p-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.2212819967917!2d-51.229071484885175!3d-30.030508881887396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95197905d755b9af%3A0x26dae59620ef3a13!2sAv.%20Mal.%20Floriano%20Peixoto%20-%20Centro%20Hist%C3%B3rico%2C%20Porto%20Alegre%20-%20RS%2C%2090020-023!5e0!3m2!1spt-BR!2sbr!4v1603151237310!5m2!1spt-BR!2sbr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                </div>
                               
            </div>
        </div>
    </div>
    
    <!-- end content -->
    

   
  {% endblock %}