{% extends "trexapp/base.html" %}
{% load staticfiles %}

{% block content %}

    <!-- main -->
    <style>
        #main{
            background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('{% static 'img/estrutura-img.jpg' %}');
            //background-image: url(img/extintor-capa.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    
    </style>
    
    <div id="main" class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h1>Projetos Estruturais</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    
    <!-- end main -->
    
    <!-- content -->
    
    <div id="content" class="d-flex align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-md-10 offset-md-1 text-center">

                   <h2>O que é Projeto Estrutural ?</h2>
                    <div class="">
                        <p>A parte estrutural de uma edificação envolve vigas, lajes, pilares, paredes autoportantes e fundações. O objetivo das estruturas é distribuir as cargas de forma a equilibrar a edificação para que não haja deformações excessivas ou instabilidade em seu uso.
                            <br>
Existem vários tipos de estruturas e sua escolha varia de acordo com seu uso. Cada tipo de estrutura requer cálculos complexos, inclusive com uso de softwares específicos.</p>


                    </div>

                </div>

                <div class="col-md-10 offset-md-1 text-center">

                   <h2>POR QUE FAZER ?</h2>
                    <div class="">
                        <p>A estrutura de uma edificação é um dos elementos mais importantes a ser considerado pois envolve segurança dos ocupantes e influencia diretamente desempenho dos outros sistemas como na durabilidade de revestimentos ou aparecimento de trincas.
                            <br>
Uma estrutura bem projetada gera economia de materiais, segurança, maior durabilidade de outros sistemas e facilidade na manutenção.</p>


                    </div>

                </div>

                <div class="col-sm-12 col-md-6 offset-1">
                        <h2>SERVIÇOS OFERECIDOS:</h2>
                        <div class="col-sm-12" style="display: flex">
                                <div class="about-list">
                                    <ul>
                                        <li> <b>Projetos de estruturas de concreto simples ou armado </b> </li>
                                        <li> <b>Projetos de estruturas metálicas</b> </li>
                                        <li> <b>Projetos de estruturas em madeira</b> </li>
                                        <li> <b>Projetos em alvenaria estrutural.</b> </li>

                                    </ul>
                                </div>
                        </div>
                </div>

                <a href="/contato" class="btn btn-primary btn-block">Entre em contato</a>


            </div>
        </div>
    </div>
    
    <!-- end content -->
    

  {% endblock %}