{% extends "trexapp/base.html" %}
{% load staticfiles %}

{% block content %}

    <!-- main -->
    <style>
        #main{
            background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('{% static 'img/estrutura-img.jpg' %}');
            //background-image: url(img/extintor-capa.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    
    </style>
    
    <div id="main" class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h1>Projetos Estruturais</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    
    <!-- end main -->
    
    <!-- content -->
    
    <div id="content" class="d-flex align-items-center">
        <div class="container">
            <div class="row">


                <div class="col-sm-12 col-md-12 offset-1">
                    <h2> Projeto Estrutural de Edificações </h2>
                    <div class="col-sm-12 col-md-12" style="display: flex">

                            <p>
A TREX Engenharia desenvolve projetos estruturais que visam garantir rigidez e sustentação da estrutura, assim como garantir a integridade de elementos não estruturais em função de pequenas movimentações da estrutura, evitando problemas de manutenção como fissuras, trincas e rachaduras em paredes e revestimentos, mantendo o perfeito funcionamento de portas e janelas, evitando descolamento de pisos cerâmicos e elementos de fachada, entre outros inconvenientes.
                        <br>
                        Além disso, com a falta de espaço para novas construções nos grandes centros, cresce a importância de se investigar as condições de funcionamento de edificações antigas, e estudar a necessidade de se recuperar ou reforçar as mesmas.
                        <br>
A TREX Engenharia desenvolve projetos estruturais que proporcionam ao cliente segurança e economia, evitam patologias futuras e garantem um menor custo. A TREX Engenharia tem ainda, cuidado especial em conceber estruturas que facilitem inspeções futuras, e consequentemente, as manutenções necessárias ao longo da vida útil da edificação.

                        <br>

                        </div>
                </div>



                <div class="col-sm-12 col-md-6 offset-1">
                        <h6>A TREX Engenharia executa os seguintes Projetos Estruturais:</h6>
                        <div class="col-sm-12" style="display: flex">
                                <div class="about-list">
                                    <ul>
                                        <li> <b>Projetos de estruturas de concreto simples ou armado </b> </li>
                                        <li> <b>Projetos de estruturas metálicas</b> </li>
                                        <li> <b>Projetos de estruturas em madeira</b> </li>
                                        <li> <b>Projetos em alvenaria estrutural.</b> </li>
                                        <li> <b>Projeto de recuperação estrutural: indicada quando se deseja recompor parte da estrutura danificada. Estes danos podem ser provocados por ataque de agentes químicos, movimentação térmica, sobrecarga excessiva, colisão de veículo, entre outros.</b> </li>
<li> <b>Projeto de reforço estrutural: indicado quando se deseja aumentar a capacidade portante de determinado elemento da estrutura. A capacidade portante insuficiente decorre de falhas de projeto ou execução, alteração na utilização da edificação.</b> </li>

                                    </ul>
                                </div>
                        </div>
                </div>



                <a href="/contato" class="btn btn-primary btn-block">Fale conosco</a>


            </div>
        </div>
    </div>
    
    <!-- end content -->
    

  {% endblock %}