{% extends "trexapp/base.html" %}
{% load staticfiles %}

{% block content %}

    <!-- main -->
    <style>
        #main{
            background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('{% static 'img/obras.jpg' %}');
            //background-image: url(img/extintor-capa.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    
    </style>
    
    <div id="main" class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h1> Obras </h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    
    <!-- end main -->
    
    <!-- content -->
    
    <div id="content" class="d-flex align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-12 offset-1">
                    <h2> EXECUÇÃO DE OBRAS </h2>
                    <div class="col-sm-12 col-md-12" style="display: flex">

                            <p>
                                A TREX Engenharia é responsável pela execução de obra por empreitada global com o fornecimento de mão-de-obra e de material, ou empreitada parcial com o fornecimento apenas de mão-de-obra.
                            </p>
                        </div>
                </div>

                <div class="col-sm-12 col-md-6" style="display: flex; margin-top: 2rem; margin-bottom: 2rem;">
                    <div class="about-list">
                                    <ul>

                                        <li> <b> Elaboração do memorial descritivo da obra; </b> </li>
                                        <li> <b> Compatibilização dos projetos; </b> </li>
                                        <li> <b> Estudos de logística da implantação do canteiro de obra; </b> </li>
                                        <li> <b> Elaboração do planejamento semanal e mensal da obra; </b> </li>
                                        <li> <b> Definição de prazo e custo da obra; </b> </li>
                                        <li> <b> Elaboração de cronograma físico e financeiro da obra; </b> </li>
                                        <li> <b> Elaboração de orçamento global discriminado da obra; </b> </li>

                                    </ul>

                                </div>
                </div>

                <div class="col-sm-12 col-md-6" style="display: flex; margin-top: 2rem; margin-bottom: 2rem;">
                    <div class="about-list">
                                    <ul>

                                        <li> <b> Auxílio na contratação de fornecedores de materiais; </b> </li>
                                        <li> <b> Fiscalização dos serviços conforme o escopo da obra; </b> </li>
                                        <li> <b> Controle da qualidade de materiais e dos serviços com ferramentas de controle específicas para cada atividade; </b> </li>
                                        <li> <b> Controle de medição de atividades; </b> </li>
                                        <li> <b> Controle de custo e de prazo da obra; </b> </li>
                                        <li> <b> Emissão de ART’s (Anotação de Responsabilidade Técnica) </b> </li>

                                    </ul>

                            </div>

                </div>

                <div class="col">
                <hr>
                </div>

                <div class="col-sm-12 col-md-12 offset-1">
                    <h2> Gerenciamento de obras </h2>
                    <div class="col-sm-12 col-md-12" style="display: flex">
                        <p>
                            A TREX Engenharia é responsável pelo gerenciamento de obra global com a coordenação técnica de fornecedores terceirizados de mão-de-obra e de material.
                        </p>
                    </div>

                </div>

                <div class="col-sm-12 col-md-6" style="display: flex; margin-top: 2rem; margin-bottom: 2rem;">
                    <div class="about-list">
                        <ul>
                            <li> <b> Elaboração do memorial descritivo da obra; </b> </li>
                            <li> <b> Compatibilização dos projetos; </b> </li>
                            <li> <b> Estudos de logística da implantação do canteiro de obra; </b> </li>
                            <li> <b> Elaboração do planejamento semanal e mensal da obra; </b> </li>
                            <li> <b> Definição de prazo e custo da obra; </b> </li>
                            <li> <b> Elaboração de cronograma físico e financeiro da obra; </b> </li>
                            <li> <b> Elaboração de orçamento global discriminado da obra; </b> </li>

                        </ul>

                    </div>
                </div>

                <div class="col-sm-12 col-md-6" style="display: flex; margin-top: 2rem; margin-bottom: 2rem;">

                    <div class="about-list">
                        <ul>
                            <li> <b> Auxílio na contratação de fornecedores de materiais; </b> </li>
                            <li> <b> Fiscalização dos serviços conforme o escopo da obra; </b> </li>
                            <li> <b> Controle da qualidade de materiais e dos serviços com ferramentas de controle específicas para cada atividade; </b> </li>
                            <li> <b> Controle de medição de atividades; </b> </li>
                            <li> <b> Controle de custo e de prazo da obra; </b> </li>
                            <li> <b> Emissão de ART’s (Anotação de Responsabilidade Técnica) </b> </li>

                        </ul>

                    </div>
                </div>

                <div class="col">
                <hr>
                </div>

                <div class="col-sm-12 col-md-12 offset-1">
                        <h2> Acompanhamento de obras </h2>
                        <div class="col-sm-12 col-md-12" style="display: flex">

                            <p>
                                A TREX Engenharia é responsável apenas pelo acompanhamento técnico sem a função gerencial da obra através de visitas técnicas pontuais conforme agendamento para registro do estágio dos serviços e consignar documentalmente a evolução e condições dos materiais e dos serviços.
                            </p>
                        </div>
                </div>

                <div class="col-sm-12 col-md-6" style="display: flex; margin-top: 2rem; margin-bottom: 2rem;">

                    <div class="about-list">
                        <ul>
                            <li> <b> Registrar os serviços concluídos de acordo com a etapa da obra; </b> </li>
                            <li> <b> Acompanhar o desenvolvimento dos serviços dentro dos prazos programados; </b> </li>
                            <li> <b> Registrar os desvios que podem ter causado atrasos para resguardar direitos; </b> </li>

                        </ul>

                    </div>
                </div>

                <div class="col-sm-12 col-md-6" style="display: flex; margin-top: 2rem; margin-bottom: 2rem;">

                    <div class="about-list">
                        <ul>
                            <li> <b> Atestar as condições técnicas dos sistemas construtivos de acordo com a etapa da obra vistoriada; </b> </li>
                            <li> <b> Demonstrar resultado final da obra correspondente ao contrato; </b> </li>
                            <li> <b> Registrar o atendimento do memorial descritivo e do prazo estabelecido; </b> </li>
                            <li> <b> Atestar as condições originais de obra para com a construtora; </b> </li>
                            <li> <b> Emissão de ART’s (Anotação de Responsabilidade Técnica) </b> </li>

                        </ul>

                    </div>
                </div>


                <a href="/contato" class="btn btn-primary btn-block">Fale conosco</a>

            </div>
        </div>
    </div>
    
    <!-- end content -->
    

  {% endblock %}