{% extends "trexapp/base.html" %}
{% load staticfiles %}

{% block content %}

    <!-- main -->
    <style>
        #main{
            background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('{% static 'img/sobre.jpg' %}');
            //background-image: url(img/extintor-capa.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            
        }
    
    </style>
    
    <div id="main" class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h1>Sobre</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    
    <!-- end main -->
    
    <!-- content -->
    
    <div id="content" class="d-flex align-items-center parallax-window">
        <div class="container">
            
            <div class="row">
                <div class="col-sm-12">
                   <h2 class="text-center">Sobre Nós</h2>
                    <div class="constructo-aboutUs-content">
                        <p style="color: #000;"> <b> A TREX ENGENHARIA</b> nasceu da necessidade de seus clientes quanto a soluções personalizadas, econômicas e eficientes de acordo com o perfil do cliente.
Trabalhamos no ramo da construção civil, desde pequenos reparos até grandes reformas, produção e execução de projetos de engenharia e arquitetura.
                            <br>
Possuímos uma política de orçamento sem nenhum tipo de custo ao cliente, permitindo que os interessados possam conhecer os serviços que oferecemos, bem como as tecnologias que trabalhamos e nossos profissionais.
                            <br>
Nossa equipe de colaboradores está preparada para atender clientes de pequeno e médio porte, disponibilizando soluções inteligentes, econômicas e sustentáveis.</p>
                        
						
                    </div>
                    
                </div>


                    <div class="col-sm-12 col-md-8 offset-2">
                        <h2 class="text-center">O que fazemos?</h2>
                    </div>
                        <div class="col-sm-6 col-md-6">
                                <div class="about-list">
                                    <ul>

                                        <li style="text-transform: uppercase;"><b>Estuturais</b></li>
                                        <li style="margin-left:2rem;"> Projetos de estruturas de concreto simples ou armado </b> </li>
                                        <li style="margin-left:2rem;"> Projetos de estruturas metálicas </li>
                                        <li style="margin-left:2rem;"> Projetos de estruturas em madeira </li>
                                        <li style="margin-left:2rem;"> Projetos em alvenaria estrutural. </li>


                                    </ul>
                                </div>
                        </div>

                 <div class="col-sm-6 col-md-6">
                                <div class="about-list">
                                    <ul>
                                        <li style="text-transform: uppercase;"> <b>Projeto ppci & Alvarás</b></li>
                                        <li style="margin-left:2rem;"> Projeto PPCI </li>
                                        <li style="margin-left:2rem;"> Regularização & Alvarás dos Bombeiros. </li>
                                        <li style="margin-left:2rem;"> Instalação dos equipamentos de PPCI </li>
                                    </ul>
                                </div>
                 </div>
                 <div class="col-sm-6 col-md-6">
                            <div class="about-list">
                                    <ul>
                                        <li style="text-transform: uppercase;"> <b>Projetos Estuturais</b></li>
                                        <li style="margin-left:2rem;"> Remoção de paredes </li>
                                        <li style="margin-left:2rem;"> Restauração de fachadas </li>
                                        <li style="margin-left:2rem;"> Mudanças de layout </li>
                                        <li style="margin-left:2rem;"> Instalação de churrasqueiras. </li>
                                    </ul>
                                </div>


                            </div>
            </div>
                        <a href="#" class="btn btn-primary btn-block">Fale conosco</a>
                    </div>
                    
                    
        
            </div>
            
            
        </div>
    </div>
    
    <!-- end content -->
    
{% endblock %}